<table class="table-auto w-full">
	<thead class="bg-gray-100">
		<tr>
			<th class="px-4 py-2 text-left">ID</th>
			<th class="px-4 py-2 text-left">Apple ID</th>
			<th class="px-4 py-2 text-left">Podcast Name</th>
			<th class="px-4 py-2 text-left">Description</th>
			<th class="px-4 py-2 text-left">Category</th>
			<th class="px-4 py-2 text-left">Posted Date</th>
			<th class="px-4 py-2 text-left">Image URL</th>
			<th class="px-4 py-2 text-left">Last Build Date</th>
			<th class="px-4 py-2 text-left">Artist Name</th>
			<th class="px-4 py-2 text-left">Explicit</th>
			<th class="px-4 py-2 text-left">Episodes</th>
			<th class="px-4 py-2 text-left">Delete</th>
		</tr>
	</thead>
	<tbody class="overflow-x-auto h-96">
		{{ range .Podcasts }}
		<tr>
			<td class="border px-4 py-2">{{ .Id }}</td>
			<td class="border px-4 py-2">{{ .AppleId }}</td>
			<td class="border px-4 py-2">{{ .PodcastName }}</td>
			<td class="border px-4 py-2">{{ .Description }}</td>
			<td class="border px-4 py-2">{{ .Category }}</td>
			<td class="border px-4 py-2">{{ .PostedDate }}</td>
            <td class="border px-4 py-2"><a href="{{ .ImageUrl }}" target="_blank">{{ .ImageUrl }}</a></td>
			<td class="border px-4 py-2">{{ .LastBuildDate }}</td>
			<td class="border px-4 py-2">{{ .ArtistName }}</td>
			<td class="border px-4 py-2">{{ .Explicit }}</td>
			<td class="border px-4 py-2">
				<div hx-get="/episodes/{{ .Id }}" hx-target="#content" hx-swap="innerHTML">
					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >View Episodes</button>
				</div>
			</td>
			<td class="border px-4 py-2">
				<div hx-get="/episodes/{{ .Id }}" hx-target="#content" hx-swap="innerHTML">
					<button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" >Delete</button>
				</div>
			</td>
		</tr>
		{{ end }}
	</tbody>
</table>